.registrationPage {
  @include mixins.container;
  display: flex;
  justify-content: center;
  padding: 40px 20px 0;
}

.first-name,
.last-name,
.email,
.password,
.repeat-password {
  @include mixins.input;
}

.form {
  @include mixins.form;

  @include mixins.tablet {
    width: 400px;
  }

}

.error {
  border-color: red;
}


.submit-btn {
  width: max-content;
  margin: 10px 0 10px;
}

.input-box {
  position: relative;
}

.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


