.header {
  background-color: var(--color-bg-header);
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-bg-header);
  z-index: 10;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100vh;
  transform: translateX(102%);
  transition: transform 0.3s;

  @include mixins.tablet {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 200px;
    padding: 40px 0 0;
  }

  @include mixins.desktop {
    position: static;
    height: auto;
    align-items: center;
    gap: 100px;
    padding: 0;
    transform: translateX(0);
  }
}

.visible-menu {
  transform: translateX(0);
}

.container {
  @include mixins.container;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include mixins.desktop {
    flex-direction: row;
    gap: 40px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;  

  @include mixins.tablet {
    // align-items: flex-end;
  }

  @include mixins.desktop {
    flex-direction: row;
  }
}

.login-btn {
  
}

.link {
  color: var(--color-black);
  font-size: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s;

  &:hover {
    border-color: var(--color-black);
  }
}

.active {
  border-color: var(--color-black);
}

.container .open-btn {
  display: flex;
  padding: 5px;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.4s;

  &:hover {
    background-color: var(--color-bg-btn-hover);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }

  @include mixins.desktop {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}
