.loginPage {
  @include mixins.container;
  display: flex;
  justify-content: center;
  padding: 40px 20px 0;
}

.login,
.password {
  @include mixins.input;
}

.input-box {
  position: relative;
  // margin-top: 30px;
}

.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.form {
  @include mixins.form;
}

.error {
  border-color: red;
}

.submit-btn {
  width: max-content;
  margin: 0 0 10px;
  
}
