body {
  overflow-x: visible;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  // cursor: pointer;
}

body.noScroll {
  // overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.noScroll {
  overflow: hidden;
  height: 100%;
}
